.container{
    margin-top: 65px;
min-height: 10vh;

}


.content{
width: 40%;
padding-top: 4vh ;
height: max-content;
margin:auto
}
.content input{
    width: 80%;
    height: auto;
    border-radius: 5px;
    padding-right: 8px;
    display: inline-block;

}
.content button {
    width: 20%;
    height: 40px;
    display: inline-block;
    font-size:large ;

}