.tourName {
  cursor: pointer;
}

.tourName:hover {
  text-decoration: underline;
}

.noTours {
  font-size: 18px;
}

.pagination {
  display: flex;
  padding: 0;
}

.pagination a {
  display: block;
  border: 1px solid #050505;
  padding: 6px 8px;
  margin: 8px;
  cursor: pointer;
}

.checkSVG {
  display: block;
  text-align: center;
}

.checkSVG svg {
  width: 18px !important;
  font-size: 15px;
  color: rgb(7, 154, 58);
}
