.container {
  display: inline-table;
  width: 150px;
  height: 95px;
  position: relative;
  margin-right: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.container img {
  width: 150px;
  height: 95px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  border: 0.2px solid gray;
}

.btnclose {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: grey;
  color: rgb(242, 242, 242);
}

.btnclose:hover {
  z-index: 99;
  opacity: 1;
  background-color: rgb(245, 63, 63);
}
